{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/admin.css')}}"/>
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-5">Utilisateurs de SnowTricks : </h1>

    <div class="d-flex w-100 justify-content-center flex-column align-items-center">
    {% for usr in users|filter(usr => 'ROLE_ADMIN' not in usr.roles) %}
    <div class="user-card mb-3 p-3">

        {# User avatar & name #}
        <div class="user">
            <img src="{{ avatarsUri }}{{ usr.avatar }}" class="rounded-circle" alt="Avatar de l'utilisateur">
            <span class="fw-bold">{{ usr.name }}</span>
        </div>

        {# Ban / Unban button #}
        <div class="ban-button mt-2">
            {% if usr.isBanned %}
                <a href="{{ path('app_unban_user', {'id': usr.id }) }}" class="btn btn-success w-100"
                   onclick="return confirm('Voulez vous débannir {{ usr.name }} ?')">Débannir</a>
            {% else %}
                <a href="{{ path('app_ban_user', {'id': usr.id }) }}" class="btn btn-danger w-100"
                   onclick="return confirm('Voulez vous bannir {{ usr.name }} ?')">Bannir</a>
            {% endif %}
        </div>

        {# User comments, within collapsed div #}
        {% set comsExists = usr.comments|length > 0 %}
        {% if comsExists %}
            <div class="comments-button mt-2">
                <button class="btn btn-primary w-100" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseComments{{ loop.index }}"
                        aria-expanded="false" aria-controls="collapseComments{{ loop.index }}">
                    Voir les commentaires
                </button>
            </div>

            <div class="comments collapse mt-2" id="collapseComments{{ loop.index }}">

                {% for com in usr.comments %}

                    <div class="row card">
                        <div class="card-header">
                            Posté sur <h4 class="com-trick-title fw-bold">{{ com.getTrick.getTitle }}</h4>
                            <span class="com-trick-date">le : {{ com.createdAt|date("d/m/Y") }}</span>
                        </div>
                        <p class="card-body">{{ com.content }}</p>
                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="col">
                <button type="button" class="btn btn-secondary" disabled>Aucun commentaire</button>
            </div>

        {% endif %}

    </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
