{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    {# TODO MOVE TO CSS FILE #}
    <style>
        .user.row {
            border: 1px solid lightgrey;
            border-radius: 15px;
            padding: 1em;
            margin-bottom: 1em;
        }
        .users.container {
        }
        .com-trick-title {
            display: inline;
            margin-right: 1em;
        }
        .com-trick-date {
            float: right;
        }

        @media (min-width: 1200px) {
            .container{
                max-width: 900px;
            }
        }
    </style>

    <h1 class="text-center mt-5">Utilisateurs de SnowTricks : </h1>

    <div class="users container mt-5">
        {%  for usr in users %}

        <div class="user row">

            {# User avatar & name #}
            <div class="col-3">
                <img src="{{ avatarsUri }}{{ usr.avatar }}" width="50" class="rounded-circle">
                <span class="mx-2 fw-bold">{{ usr.name }}</span>
            </div>

            {# Ban / Unban button #}
            <div class="col-2 m-2">
                {% if usr.isBanned %}
                    <a href="{{ path('app_unban_user', {'id': usr.id }) }}" class="btn btn-success w-75"
                       onclick="return confirm('Voulez vous débannir {{ usr.name }} ?')">Débannir</a>
                {% else %}
                    <a href="{{ path('app_ban_user', {'id': usr.id }) }}" class="btn btn-danger w-75"
                       onclick="return confirm('Voulez vous bannir {{ usr.name }} ?')">Bannir</a>
                {% endif %}
            </div>

            {# See user comments, within collapsed div #}

                {% set comsExists = usr.comments|length > 0 %}
                {% if comsExists %}
                    <div class="col m-2">
                        <button class="btn btn-primary w-100" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseComments{{ loop.index }}"
                                aria-expanded="false" aria-controls="collapseComments{{ loop.index }}">
                            Voir les commentaires
                        </button>
                    </div>

                    <div class="row collapse mt-2" id="collapseComments{{ loop.index }}">

                        {% for com in usr.comments %}

                            <div class="row card my-2 mx-3 p-0">
                                <div class="card-header">
                                    Posté sur <h4 class="com-trick-title fw-bold">{{ com.getTrick.getTitle }}</h4>
                                    <span class="com-trick-date">le : {{ com.createdAt|date("d/m/Y") }}</span>
                                </div>
                                <p class="card-body">{{ com.content }}</p>
                            </div>

                        {% endfor %}

                    </div>

                {% else %}

                    <div class="col m-2">
                        <button type="button" class="btn btn-secondary" disabled>Aucun commentaire</button>
                    </div>

                {% endif %}

            </div>

        {% endfor %}

    </div>
{% endblock %}
