{%  for com in comments|slice(0,10) %}

    <div class="comment">
        <div class="author col-2">
            <img src="{{ avatarsUri }}{{ com.author.avatar }}" alt="Avatar de l'utilisateur {{ com.author.name }}">
            <p>{{ com.author.name }}</p>
        </div>
        <div class="content col-10 px-0 mx-0">
            <p>{{ com.content }}</p>
            <small>Publié le : {{ com.createdAt|date("d/m/Y") }}</small>
        </div>
    </div>

{% endfor %}