{%  for com in comments %}

    <div class="comment row">
        <div class="author col-2">
            <img src="{{ avatarsUri }}{{ com.author.avatar }}" alt="Avatar de l'utilisateur {{ com.author.name }}">
            <p>{{ com.author.name }}</p>
        </div>
        <div class="content col-8">
            <p class="text-break">{{ com.content|nl2br }}</p>
            <small class="created-at">Publié le : {{ com.createdAt|date("d/m/Y") }}</small>
        </div>
    </div>

{% endfor %}