{% extends 'trick/main.html.twig' %}
{% block trickBody %}

    <p>
        {{ trick.description|raw }}
    </p>

    <div>
        <small>Groupe : {{ trick.category.label }} - </small>
        <small>Trick créé le : {{ trick.createdAt|date("d/m/Y") }}</small>
        {% if trick.modifiedAt %}
            <small>Trick créé le : {{ trick.modifiedAt|date("d/m/Y") }}</small>
        {% endif %}
    </div>

    {# If user is logged-in #}
    {% if app.user.name is defined %}

        <div> {# TODO see wireframes to place edit / delete buttons #}
            <a class='btn btn-info' href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">Modifier</a>
            <a class='btn btn-danger' href="{{ path('app_trick_delete', { 'slug': trick.slug }) }}">Supprimer</a>
        </div>

        <hr>
        <h3>Poster un commentaire</h3>
        {{ form(commentForm) }}
        <hr>

    {% endif %}


    {% if trick.comments|length > 0 %}

        <h2> Commentaires postés</h2>
        <hr>

        <div id="trick-comments" class="comments mx-auto col-8">
            {% include('trick/comments.htmL.twig') %}
        </div>

        {# TODO BUTTON HERE #}
        <a id="load-more-btn" class="text-center" onclick="loadMoreComments()">[LOAD MORE]</a>
    {% endif %}

{% endblock %}