{% extends 'trick/index.html.twig' %}
{% block trickBody %}
    <h3>----------- TRICK EDIT BLOCK ---------</h3>

    {{ form_start(trickForm) }}

        {{ form_row(trickForm.title) }}
        {{ form_row(trickForm.description) }}
        {{ form_row(trickForm.category) }}

{#        {{ form_widget(form.fieldName, { 'attr': {'class': 'hidden-row'} }) }}#}

    {{ form_end(trickForm) }}

{% endblock %}