{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/trick.css')}}"/>
    <link rel="stylesheet" href="{{ asset('css/media-carousel.css')}}"/>
    <script src="{{ asset('js/media-carousel.js') }}"></script>
    <script src="{{ asset('js/comments.js') }}"></script>
{% endblock %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}

    <div class="trick-container container">
        <div id="carousel-template">
            {% include('trick/media_carousel.html.twig') %}
        </div>

        {% block trickBody %}{% endblock %}

    </div>

{% endblock %}
